nav {
    width: 100%;
}

body {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(54, 121, 9, 1) 0%, rgba(0, 212, 255, 1) 100%);
    margin-top: 300 px;
    margin-left: 30 px;
    font-family: "Helvetica";
    border-style: solid;
    border-width: 5px;
}

.textsize {
    font-size: 30px;
    padding: 20px;
}