{% extends 'login.html' %} {% block title %}Sign Up{% endblock %} {% block nav %}
<p style="width:1px; height: 1px;"></p>
{% endblock %} {% block content %}

<body>

    <div>
        <form action="/signup" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="username" name="username1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password1" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <p style="margin-top: 10px;">Already have an account?
        <a style="font-size: 15px;" href="/">LOGIN</a>
    </p>

    {% endblock %}